# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. Scikit-learn

|Data Science Tools |
------------------
|Jupyter Notebook   |
|R Studio           |
|JupyterLab         |
|Tableau            |
|Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# The following line is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

### Objectives:
- List popular languages for Data Science
- List popular tools for Data Science
- Create Python code
- Save the code to GitHub

## Author
Rajesh Mehmi